body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#one{
    background-color: brown;
    float: left;
    border: 1px solid black;
    margin: 1em;
}

#two{
    float: left;
}

#three{
    background-color: coral;
    border: 1px solid black;
    float: right;
}

#four{
    float: right;
    
}



.paragrafOne{

    background-color: yellow;
    text-align: justify;
   
}
.paragrafTwo{
    background-color: orange;
    
}

.paragrafThree{

    background-color: rgb(46, 164, 255);
    text-align: justify;}


.paragrafFour{

    background-color: rgb(17, 207, 52);
    text-align: justify;}

